<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
    <ConfigurationString>
      
      <!-- <add name="Uno" connectionString="DRIVER={IBM INFORMIX ODBC DRIVER (64-bit)};UID=informix;PWD=contra123;DATABASE=prueba;HOST=*DESKTOP-VOOLIT3;SERVER=ol_ids_1150_1;SERVICE=svc_ids_1150_1;PROTOCOL=olsoctcp;CLIENT_LOCALE=en_US.CP1252;DB_LOCALE=en_US.819;"/>
      
      --> </ConfigurationString>

</configuration>